<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Remplir le questionnaire</a>

    <% gossips.each_with_index do |gossip, index| %>
        <p>
          <b>Auteur de la gossip:</b>
          <%= gossip.author %><br/>
          <b>Contenu:</b>
          <%= gossip.content %><br/>
          <a href="/gossips/<%=index%>/">Gossip n°<%= index %></a>
        </p>
      <% end %>
    <!--En fait, <% %> te sert à exécuter du Ruby au sein d'un fichier HTML. Par exemple pour faire un each do.-->
    <!--Par contre <%= %> va te servir à afficher un string Ruby qui est entre ces balises (c'est l'équivalent d'un puts mais sur du HTML).-->

  </body>
</html>
